@font-face {
    font-family: 'OktaNeue-SemiBold';
    src: url('../fonts/OktaNeue-SemiBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OktaNeue-Heavy';
    src: url('../fonts/OktaNeue-Heavy.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OktaNeue-Normal';
    src: url('../fonts/OktaNeue-Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body,
div {
    margin: 0 auto;
    padding: 0;
    word-wrap: break-word;
}

div {
    width: 100%;
    display: inline-block;
}

h1,
h2,
h3,
p {
    padding: auto;
    margin: 0 auto;
}

h1 {
    font-family: OktaNeue-Heavy, 'Sans Serif';
    font-size: 100pt;
    line-height: 100px;
    text-align: center;
}

div.head {
    margin-top: 50%;
}

div.title {
    padding-top: 25px;
}

h1.number {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 80px;
    color: #003399;
    text-align: center;
}

h2 {
    font-family: OktaNeue-SemiBold, 'Sans Serif';
    text-align: center;
    padding: 0 0 25px 0;
}

p {
    font-family: OktaNeue-Normal, 'Sans Serif';
    text-align: center;
}

span {
    color: yellowgreen;
}